{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    {% block head %}
    <head>
        <meta charset="utf-8">
        {% block title %}
            <title>ASUEvents</title>
        {% endblock %}
        {% block fonts %}
            {% for font in fonts %}
            <link href="{{ font }}" rel="stylesheet" type="text/css"/>
            {% endfor %}
        {% endblock %}
        {% block styles %}
            {% for style in styles %}
            <link href="{{ style }}" rel="stylesheet" type="text/css"/>
            {% endfor %}
        {% endblock %}
        {% block favicon %}
            <link rel="shortcut icon" href="favicon.ico"/>
        {% endblock %}
    </head>
    {% endblock %}
    {% block body %}
    <body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed page-container-bg-solid page-sidebar-closed-hide-logo">
    {% block header %}
    <div class="page-header -i navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="index.html">
                    <img src="{% static 'images/logo.png' %}" alt="logo" class="logo-default" width="86" height="14"/>
                </a>
                {% block navbar %}
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        {% block navbaritems %}
                        {% endblock %}
                    </ul>
                </div>
                {% endblock %}
            </div>
            {% block searchfrom %}
                <form class="search-form" method="GET" action="#">
                    <div class="input-group">
                        <input class="form-control" type="text" name="query" placeholder="Search..."></input>
                        <span class="input-group-btn">
                            <a class="btn submit" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
    <div class="clearfix"></div>
    {% endblock %}
    {% block page %}
    <div class="page-container">
        {% block sidebar %}
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler"></div>
                    </li>
                    {% block sidebaritems %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        {% endblock %}
        <div class="page-content-wrapper">
            <div class="page-content">
                {% block content %}
                    <h3 class="page-title">{{ title }} <small>{{ subtitle }}</small></h3>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy; Ritashugisha
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    {% endblock %}
    {% endblock %}
    </body>
    {% endblock %}
    {% block scripts %}
        {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}
    {% endblock %}
</html>