{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    {% block fonts %}
    {{ block.super }}
        {% for font in addfonts %}
        <link href="{{ font }}" rel="stylesheet" type="text/css"/>
        {% endfor %}
    {% endblock %}
    {% block styles %}
    {{ block.super }}
        {% for style in addstyles %}
        <link href="{{ style }}" rel="stylesheet" type="text/css"/>
        {% endfor %}
    {% endblock %}
    {% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        {{ stat|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ calendar|safe }}
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    {{ block.super }}
        {% for script in addscripts %}
        <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}
    <script>
    jQuery(document).ready(function() {
        Metronic.init();
        Layout.init();
        QuickSidebar.init();
        Calendar.init();
    });
    </script>
    {% endblock %}
</html>